html body{
    background-color: hsl(257, 40%, 49%);
    padding: 5% 5% 0px;
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
}





/* header section  */





header{
    margin-bottom:60px;
}

header img{
    width: 20%;
}






/* main section   */





main img{
    width: 100%;
}


.title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px;
}

main p{
    padding: 10px;
    width: 85%;
}


button.btn{
    background-color: white;
    border-radius: 50px;
    color:hsl(257, 40%, 49%);
    padding: 7px 50px;
    margin-top: 5px;
    font-weight: 500;
    margin: 10px;
}

button.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}


.icons{
    text-align: right;
    position: relative;
    bottom: 20px;
    right: 100px;
}


.fab{
    margin: 10px;
    color: white;
}

.fab:hover{
    color:hsl(300, 69%, 71%) ;
}





/* footer section  */






footer {
    text-align: center;
    margin-top: 100px;
}

footer a{
    color:black;
}

footer a:hover{
    color: yellow;
}





/* mobile responsive */





@media(max-width:1000px){
    html body{
        text-align: center;
        background-image: url(../images/bg-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 7% 7%;
        min-height: 100vh;
    }

    header{
        text-align: left;
    }
    header img{
        width: 45%;
    }

    main .col1{
        margin-bottom: 80px;
    }

    main .title{
        padding: 10px;
        margin: 0 auto;
        font-size: 2.2rem;
    }

    main p{
        margin: 0 auto;
        margin-bottom: 30px;
        width: 75%;
        line-height: 1.5;
    }
    
    button.btn{
        border-radius: 60px;
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 10px;
    }
    .icons{
        position: static;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 0;
    }

    footer{
        margin: 50px auto 0;
    }
}
